[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restx = "*"
flask-cors = "*"
flask = "*"
pillow = "*"
numpy = "*"

[dev-packages]
pytest = "*"
bumpversion = "*"
pytest-sugar = "*"
pytest-cov = "*"

[requires]
python_version = "3"